<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716038275808-hv3lo178si0gs9u52jssjof8qvvejs0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716038275808-hv3lo178si0gs9u52jssjof8qvvejs0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>716038275808-nqur4k59il8b0bmsv7iiqc07e3aui2j6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0Sx_8HDxQ0VhYgGYGaS3ymJAC4e0ESg</string>
	<key>GCM_SENDER_ID</key>
	<string>716038275808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikita.vasya-app</string>
	<key>PROJECT_ID</key>
	<string>vasyaapp-4c790</string>
	<key>STORAGE_BUCKET</key>
	<string>vasyaapp-4c790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716038275808:ios:c83114578b7e16039ac685</string>
</dict>
</plist>